.containerAbout{
    /* background-image: url("./../contacto.jpg"); */
    background-color:rgba(255, 255, 255, 0.8);;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 90px;
    margin-left: 25px;
    width: 1300px;
    height: 400px;    
    display: flex;
    align-items: center;
}
.h2{
    text-align: center;
    font-weight: bold;
    /* text-decoration:underline; */
    font-family: 'Open Sans', sans-serif;
    position: relative;
     top: 50px;
     text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin-bottom: 160px;
    padding-top: 115px;
   
}
.Link{
    width: 100%;
    padding-top: 8px;
    justify-content: space-around;
    display: flex;
    
}
.test{
    text-align: center;
    /* text-decoration:underline; */
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgba(0,0,0,0.5);
    font-weight: bold;
    top: 150px;
    position: relative;
    
}
.yo {
    height:200px;
    border-radius: 130px;
    margin-bottom: 155px;   
  }

  #testimonios{
    margin-top: 230px;
    
  }