.form-input {
  padding: 30px;
  margin: auto;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 8px;
  font-size: 16px;
  width: 70%;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.1);
  margin-bottom: 5px;
}

.form {
  margin-bottom: 6px;
  margin-top: 100px;
}

@media (max-width: 576px) {
  .form-input {
    width: 90%;
  }
}